@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

/* rest of your file... */
:root {
  /* Base */
  --background: #fef6e7;
  --foreground: #111827;

  /* Brand */
  --primary: #ff7a2f;
  --primary-light: #ffb347;

  /* UI */
  --surface: #ffffff;
  --muted: #6b7280;
  --border: #e5e7eb;

  --accent: #ff7a2f;
  --navbar: #f2ede3;
  --hero-bg: url("/herobg.jpg");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);

  --color-surface: var(--surface);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-accent: var(--accent);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: 'Playfair Display', serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}